<main>
  <h1>Crazy Train</h1>
  <section>
    <h2>Anders</h2>
    <p>
      Van:
      <span>???</span>
    </p>
    <p>
      Naar:
      <span>???</span>
    </p>
    <a href="https://www.ns.nl/reisplanner/" target="_blank">Of klik hier</a>
  </section>
  <section>
    <h2>Naar werk</h2>
    <p>
      Van:
      <span>Eindhoven</span>
    </p>
    <p>
      Naar:
      <span>Amsterdam</span>
    </p>
    <a
      href="https://www.ns.nl/reisplanner/#/?vertrek={{home}}&vertrektype=treinstation&aankomst={{work}}&aankomsttype=treinstation&type=vertrek&tijd={{workTime}}"
      target="_blank"
    >Of klik hier</a>
  </section>
  <section>
    <h2>Naar huis</h2>
    <p>
      Van:
      <span>Amsterdam</span>
    </p>
    <p>
      Naar:
      <span>Eindhoven</span>
    </p>
    <a
      href="https://www.ns.nl/reisplanner/#/?vertrek={{work}}&vertrektype=treinstation&aankomst={{home}}&aankomsttype=treinstation&type=vertrek&tijd={{homeTime}}"
      target="_blank"
    >Of klik hier</a>
  </section>
  <img src="/images/toetsenbord.png" alt="toetsenbord" />
  {{! <img src="/images/marco.png" alt="" /> }}
  <audio src="/audio/all aboard.wav"></audio>
  <audio src="/audio/crazy train.wav"></audio>
  <audio src="/audio/metallica.wav"></audio>
</main>